@import "../../assets/scss/colors.scss";

.CustomButton {
  position: relative;
  &-List {
    position: absolute;
    background-color: inherit;
    max-width: 155px;
    min-width: 155px;

    overflow-y: scroll;
    max-height: 200px;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    // /* Track */
    // &::-webkit-scrollbar-track {
    //   box-shadow: inset 0 0 5px $color-grey;
    //   border-radius: 5px;
    // }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: $color-grey;
      // border-style: groove;
      border-radius: 10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $color-black;
    }

    &-Item {
      margin: 4px 0;
      overflow-wrap: break-word;
      display: block;
    }

    &.hidden {
      display: none;
    }
  }
  &-Tag {
    display: flex;
    text-transform: uppercase;
    color: $color-white;

    // justify-content: space-between;
    &-Priority,
    &-Category,
    &-Status {
      padding: 2px 6px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100px;
      min-width: 100px;
    }

    &-Priority {
      background-color: $color-iteragenta-dark;
      margin-right: 12px; // or set some margins for both? I set this like that because right now we know there are only this two tags
      color: $color-white;
    }

    &-Category {
      background-color: $color-mint-dark;
      color: $color-white;
    }

    &-Status {
      background-color: $color-gelb-dark;
      color: $color-black;
    }
  }

  &-Button {
    text-transform: uppercase;

    &-Priority,
    &-Category,
    &-Status,
    &-Create,
    &-Save {
      // position: relative;
      overflow: auto;
      box-sizing: border-box;
      border: none;
      padding: 2px 6px;
      // white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      max-width: 155px;
      min-width: 155px;
      max-height: 27px;
      min-height: 27px;

      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 15px;
      line-height: 1.4;

      cursor: pointer;

      &:hover {
        padding: 1px 5px;
        border: 1px solid $color-black;
      }
    }

    &-Priority {
      .CustomButton-List {
        top: 155px;
        right: 357px;
        &.addTask {
          top: 307px;
        }
      }
      background-color: $color-iteragenta-normal;
      color: $color-white;
      .CustomButton-List-Item {
        background-color: $color-iteragenta-normal;

        &:hover {
          background-color: $color-iteragenta-dark;
        }
      }
    }

    &-Category {
      .CustomButton-List {
        top: 155px;
        right: 189px;
        &.addTask {
          top: 307px;
        }
      }
      background-color: $color-mint-normal;
      color: $color-white;
      .CustomButton-List-Item {
        background-color: $color-mint-normal;

        &:hover {
          background-color: $color-mint-dark;
        }
      }
    }

    &-Status {
      .CustomButton-List {
        top: 155px;
        right: 22px;
        &.addTask {
          top: 307px;
        }
      }
      background-color: $color-gelb-normal;
      color: $color-black;
      .CustomButton-List-Item {
        background-color: $color-gelb-normal;

        &:hover {
          background-color: $color-gelb-dark;
        }
      }
    }

    &-Create {
      background-color: $color-gelb-normal;
      color: $color-grey;

      &:visited {
        color: $color-black;
      }

      &:focus {
        color: $color-black;
      }

      &:active {
        color: $color-black;
      }
    }

    &-Save {
      background-color: $color-iteragenta-dark;
      color: $color-white;

      &.disabled {
        cursor: default;
        background-color: $color-iteragenta-normal;

        &:hover {
          border: 0px;
        }
      }

      &:hover {
        border: 1px solid $color-black;
      }
    }
  }
}
