@import "../../assets/scss/colors.scss";

.Kanban {
  position: relative;
  min-width: 100%;
  min-height: 100vh;
  background-color: $color-white;
  box-sizing: border-box;

  &-Container {
    display: flex;
    min-width: 100%;
    max-height: 100vh;
    box-sizing: border-box;
    padding: 117px 30px 24px 30px;
    overflow: hidden;
    &-Column {
      overflow-y: scroll;
      scrollbar-width: none;
      margin-right: 12px;
    }
    &-Column::-webkit-scrollbar {
      display: none; /* for Chrome, Safari, and Opera */
    }
  }
}
