/* your css code */
@import "../../assets/scss/colors.scss";

.KanbanColumn {
  margin-top: 10px;
  margin-bottom: 30px;

  &-Title {
    position: fixed;
    min-height: 29px;
    max-height: 29px;
    padding-top: 0px;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
    z-index: 0;
  }

  &-TitleWithBefore {
    position: fixed;
    min-height: 29px;
    max-height: 29px;
    padding-top: 0px;
    margin-left: 10px;
    text-align: left;
    font-weight: bold;
    z-index: 0;

    &::before {
      content: "";

      position: absolute;
      background-color: $color-black;
      height: 24px;
      width: 2px;
      right: calc(100% + 15px);
      top: 50%;
      transform: translateY(-75%);
    }
  }

  &-Content {
    max-height: 95%; //TODO: change this?
    margin-top: 30px;
    margin-right: 12px;
    margin-bottom: 30px;
    // overflow-y: scroll;
    // // scrollbar-width: none;


    // /* width */
    // &::-webkit-scrollbar {
    //   width: 10px;
    // }

    // /* Track */
    // // &::-webkit-scrollbar-track {
    // //   box-shadow: inset 0 0 5px $color-grey; 
    // //   border-radius: 5px;
    // // }
    
    // /* Handle */
    // &::-webkit-scrollbar-thumb {
    //   background: #e5e5e5;
    //   border-radius: 20px;
    //   border-width: 2px;
    //   border-style: groove;
    // }

    // /* Handle on hover */
    // &::-webkit-scrollbar-thumb:hover {
    //   background: $color-black; 
    // }
  }

  // &-Content::-webkit-scrollbar {
  //   display: none;
  //   /* for Chrome, Safari, and Opera */
  // }
}
