.navbar {
	width: 100%;
	height: 100px;
	background-color: #121619;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-left: 150px;
}

.navbar a {
	color: white;
	text-decoration: none;
	margin: 20px;
}
