$color-black: #000000;
$color-white: #ffffff;
$color-iteragenta-dark: #9d1681;
$color-iteragenta-normal: #ce8bc0;
$color-iteragenta-light: #e7c5e0;
$color-gelb-dark: #ffe500;
$color-gelb-normal: #fff280;
$color-gelb-light: #fef8cb;
$color-mint-dark: #00b2bb;
$color-mint-normal: #7fd8dd;
$color-mint-light: #bfecee;
